body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.homepage {
  position: relative;
  text-align: center;
  font-size: 5rem;
  color: #000;
  z-index: -1;
}

.text-with-border1 {
  -webkit-text-fill-color: white;
  -webkit-text-stroke: 1px #000;
}

.homepage .no-margin{
  margin: 0;
  padding: 0%;
}

.homepage .h1{
  margin: 0%;
  padding: 0%;
}